<h4> Flight Information: </h4>
	<p> <%= "#{flight_info(@booking.flight)}" %> </p>

<h4> Passenger Information: </h4>
<ol>
 <% @booking.passengers.each do |p| %>
		<li>
			<p> <strong>Name:</strong> <%= p.name %> | <strong>Email:</strong> <%= p.email %> </p>
		</li>	
	<% end %>
</ol>